<footer>
    <div class="row primary">
      <div class="column about">
        <h3>Movie Finder</h3>
        <p>
            The Movie Finder app is your ultimate destination for discovering, exploring, and staying updated about the world of movies. Designed with both movie enthusiasts and casual viewers in mind, the app provides a seamless and immersive experience that caters to your cinematic interests.

            With an extensive collection of the latest, most popular, and highly rated movies, the Movie Finder app lets you explore a vast array of genres, ranging from action-packed thrillers to heartwarming romances, gripping mysteries, and thought-provoking dramas. Whether you're a fan of Hollywood blockbusters or indie gems, you'll find a diverse selection that suits your preferences.
        </p>
        <div class="social">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-youtube-square"></i>
          <i class="fab fa-whatsapp-square"></i>
        </div>
      </div>
      
      <div class="column subscribe">
        <h3>Newsletter</h3>
        <div>
          <input type="email" placeholder="Your email id here" />
          <button>Subscribe</button>
        </div>
      </div>
    </div>
    
    <div class="row copyright">
      &copy; Michael Zatey
    </div>
  </footer>
  