h6{
    color: #ffff;
    font-size: 26px;
}
p{
    color: #ffff;
}
.card-title{
    color: #ffff;
}
.card{
    border: 2px solid honeydew;
}
.card:hover{
    border: 2px solid rgb(200, 0, 0);

}
body{
    background: black;
}
